@import './variables';
@import 'antd/dist/antd.css';

body {
  //background: url("../shared/images/background.jpg");
}

.col {
  //background-color: #6cffc5;
}

.row {
  //background-color: darksalmon;
}

.header {

  background: white;

  .headerContent {
    margin: 0 auto;
  }

  .logo {
    float: left;
    width: 150px;
    margin: 12px 14px 16px 0;
    //background: rgba(255, 255, 255, 0.3);

    img {
      width: 100%;
    }
  }
}

.content {
  min-height: 280px;
  margin: 20px auto;
  padding: 30px;
}