@import './variables';
@import 'antd/dist/antd.css';

.col {
  //background-color: #6cffc5;
}

.row {
  //background-color: darksalmon;
}

.header {

  background: $headerColor;

  .headerContent {
    margin: 0 auto;
  }

  .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
  }
}

.content {
  min-height: 280px;
  //background: #FFF;
  margin: 20px auto;
  padding: 30px;
}
