

.videoBlock{
  //background-color: red;
  height: 200px;
  border: 2px gray solid;
  padding: 10px;

  .content {

    //background-color: yellow;

    .title {
      //color: red;
    }

    .video{
      //background-color: greenyellow;
      height: 100px;
    }
  }



}
