

.videoBlock{
  //background-color: red;

  border: 2px gray solid;
  padding: 10px;

  .content {

    //background-color: yellow;
    display: flex;
    flex-direction: column;


    .title {
      //background-color: red;

    }

    .video{
      //background-color: greenyellow;

      img {
        width: 100%;
        margin-top: 20px;
      }
    }
  }



}
